# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
*.env

# PyCharm project files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter output cache
*.nbconvert.ipynb

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db


